[submodule "parsec-benchmark"]
	path = parsec-benchmark
	url = https://github.com/samuel-cavalcanti/parsec-benchmark.git
[submodule "mkdocs-with-pdf"]
	path = mkdocs-with-pdf
	url = https://github.com/samuel-cavalcanti/mkdocs-with-pdf.git
