[submodule "parsec-benchmark"]
	path = parsec-benchmark
	url = git@github.com:samuel-cavalcanti/parsec-benchmark.git
[submodule "mkdocs-with-pdf"]
	path = mkdocs-with-pdf
	url = git@github.com:samuel-cavalcanti/mkdocs-with-pdf.git
